<% layout('layouts/boilerplate') %>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6">
                <form id="events-form" action="/events/<%= event._id %>/<%= event.spot._id %>?_method=PUT" method="POST">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="title-addon">Title</span>
                        <input type="text" id="title" name="event[title]" class="form-control"
                            placeholder="What is the event called?" aria-label="title" aria-describedby="title-addon"
                            value="<%= event.title %>" autofocus required>
                    </div>

                    <div class="input-group mb-3 position-relative">
                        <span class="input-group-text" id="title-addon"><i class="bi bi-geo-alt"></i></span>
                        <input type="text" id="spot" name="event[spot]" class="form-control"
                            placeholder="What is the event called?" aria-label="title" aria-describedby="title-addon"
                            value="<%= event.spot.name %>" list="spot-list" autocomplete="off" required>
                        <datalist id="spot-list">
                            <% for (spot of spots) { %>
                                <option value="<%= spot.name %>"></option>
                                <% } %>
                        </datalist>
                        <div id="spot-feedback" class="position-absolute top-100 ms-3 text-danger fs-6 d-none">
                            <i class="bi bi-info-circle"></i>
                            It seems like that's not a listed spot!
                        </div> 
                    </div>

                    <div class="row">
                        <div class="col-sm-7">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1"><i
                                        class="bi bi-calendar2-event"></i></span>
                                <input id="day" name="event[day]" type="number" class="form-control blinkable" placeholder="dd"
                                    aria-label="Day" aria-describedby="basic-addon1" min=1 max=31 step=1 maxlength="2"
                                    required value="<%= new Date(event.date).getDate() %>">
                                <input id="month" name="event[month]" type="number" class="form-control blinkable"
                                    placeholder="mm" aria-label="Month" min=1 max=12 step=1 maxlength=2 required
                                    value="<%= new Date(event.date).getMonth() + 1 %>">
                                <input id="year" name="event[year]" type="number" class="form-control blinkable"
                                    placeholder="yyyy" aria-label="Year" min=2021 max=3000
                                    value="<%= new Date(event.date).getFullYear() %>">
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="input-group mb-3">

                                <span class="input-group-text" id="basic-addon1"><i class="bi bi-clock"></i></span>
                                <input id="hours" name="event[hours]" type="number" class="form-control blinkable"
                                    placeholder="HH" aria-label="Hours" aria-describedby="basic-addon1" min=0 max=23
                                    step=1 maxlength="2" required 
                                    value="<%- new Date(event.date).getHours() < 10 ? '0' : '' %><%= new Date(event.date).getHours() %>">
                                <input id="minutes" name="event[minutes]" type="number" class="form-control blinkable"
                                    placeholder="MM" aria-label="Minutes" min=0 max=59 step=1 maxlength=2 required
                                    value="<%- new Date(event.date).getMinutes() < 10 ? '0' : '' %><%= new Date(event.date).getMinutes() %>">
                            </div>
                        </div>
                    </div>



                    <div class="input-group mb-3">
                        <span class="input-group-text">Details</span>
                        <textarea id="description" name="event[description]" class="form-control"
                            aria-label="With textarea"><%= event.description %></textarea>
                    </div>

                    <button id="formSubmit" type="button" class="btn btn-primary">Submit</button>
                    <a href="javascript:history.back()" class="btn btn-danger">Cancel</a>

                </form>
            </div>
        </div>
    </div>

    <script>
        const spots = [];
        <% for (let spot of spots) { %>
            spots.push('<%= spot.name %>');
            <% } %>
    </script>
    <script src="/javascript/eventForm.js"></script>