<% layout('layouts/boilerplate') %>

<div class="d-flex flex-column justify-content-center align-items-center fill-page">
<div class="display-6">This is not the page you are looking for ~</div>
<div class="ascii-art mt-2 mb-4">
                           /~\
                          (O O)
                          _\=/_      
          ___            /  _  \     
         / ()\          //|/.\|\\    
       _|_____|_       ||  \_/  ||   
      | | === | |      || |\ /| ||   
      |_|  O  |_|       # \_ _/ #    
       ||  O  ||          | | |      
       ||__*__||          | | |      
      |~ \___/ ~|         []|[]      
      /=\ /=\ /=\         | | |      
______[_]_[_]_[_]________/_]_[_\_____
</div>
<div class="display-1">404 Not Found</div>
</div>