<% layout('layouts/boilerplate') %>

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <p class="lead">
                    The FlatspotGuide is intended as a tool for participants of wheeled sports
                    who require flat open spaces. Users can pin suitable spots, and pin events
                    to spots.
                </p>
                <p>
                    My name is Aaron Watts. I am a freestyle skateboarder and a founding member
                    of the UKFSA (United Kingdom Freestyle Skateboarding Association). I live in
                    London, and despite the expanse of concrete and tarmac on my doorstep, finding 
                    a patch of flat ground to skate can be a pain.
                </p>
                <p>
                    While there are good spots, they are never built to fascilitate wheeled sports,
                    and I often find myself contending with people trying to play tennis or netball,
                    pedestrians, or people trying to park their cars.
                </p>
                <p>
                    Considering the difficulty I have finding a good spot in one of the largest cities 
                    in the world, I thought I'd make a tool to map suitable spots. With pockets of the
                    freestyle community dwelling within their own preferred social media platforms, I
                    also thought it might be useful to incorporate events too, in hope of providing
                    a new platform where all skaters can follow spots and events in their own area or
                    elsewhere.
                </p>
                <hr>
                <p>
                    This project has began as a portfolio piece at a time when I hope to learn web
                    development. As I worked on it, it began to look more like a piece of software that
                    I would actually like to use. In the hope that others might want to as well, I went
                    a bit further than I originally intended, to build a new platform to the best of my
                    ability.
                    <br>Feel free to visit the github repo 
                    <a href="https://github.com/aaron-watts/theFlatSpotGuide" target="_blank">here</a>.
                </p>
            </div>

            <div class="col-md-5 my-4">
                <div class="max-vh-75">
                    <img class="img-fluid" src="/imgs/profile_picture.jpg" alt="">
                </div>
            </div>
        </div>
    </div>