.nav-height {
    max-height: 80vh;
}

.spots-height {
    max-height: 68vh;
}

.fill-page {
    height: 80vh;
}

.menu-button button {
    height: 2.3rem;
    width: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button {
    width: 6rem;
}

.hoverable:hover {
    cursor: pointer;
}

#loading {
    background-color: #0005;
    position: fixed;
    left: -5vw;
    top: -5vh;
    height: 110vh;
    width: 110vw;
}

.cal-frame {
    /* border: solid 2px black; */
    height: 12rem;
    width: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.time-frame {
    margin: -.1rem auto .3rem;
    color: rgba(0,0,0,0.48);
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.date-frame {
    font-size: 5.8rem;
    font-weight: 600;
    margin: -1.8rem auto;
    color: #dc3545;
}

.month-frame {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgba(0,0,0,0.72);
    margin-top: .8rem;
    border-top: solid 4px rgba(0, 0, 0, 0.24);
    width: 80%;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

form * {
    transition: margin-bottom .3s ease-in-out;
}

.blink {
    /* color: rgb(220, 53, 69); */
    animation: blinker 6s ease-out;
}
@keyframes blinker {
    0% {
        box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(220, 53, 69, 0);
    }
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
}

.marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

#cluster-map {
    width: 100%;
    height: 80vh;
}

@media (max-width: 768px) {
    #cluster-map {
        height: 50vh;
    }
}

.side-menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 25vw;
    z-index: -1;
    background-color: lightgrey;
}
  

