<% layout('layouts/boilerplate') %>

<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <form action="/password/<%= currentUser._id %>?_method=PATCH" method="POST">
            <div class="mb-3">
                <label for="oldPassword" class="form-label">Old Password</label>
                <input type="password" class="form-control" id="oldPassword" name="user[oldPassword]" required>
            </div>
            <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input type="password" class="form-control" id="newPassword" name="user[newPassword]" required>
                <div id="passwordHelp" class="form-text">
                    <i class="bi bi-info-circle"></i>
                    Min 8 characters, at least one uppercase letter (A-Z),
                    one least one lowercase letter (a-z),
                    at least one digit (0-9)
                </div>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="user[confirmPassword]" required>
                <div id="confirmHelp" class="form-text d-none">
                    <i class="bi bi-info-circle"></i>
                    Passwords must match!
                </div>
            </div>
            <button id="formSubmit" type="button" class="btn btn-primary">Change</button>
        </form>
    </div>
</div>

<script src="/javascript/changePassword.js"></script>