<% layout('layouts/boilerplate') %>

    <h1>Edit Spot</h1>

    <form action="/spots/<%= spot._id %>?_method=PUT" method="POST">
        <div class="">
            <label for="name">Name</label>
            <input type="text" id="name" name="spot[name]" value="<%= spot.name %>">
        </div>
        <div class="">
            <label for="location">Location</label>
            <input type="text" id="location" name="spot[location]" value="<%= spot.location %>">
        </div>
        <div class="">
            <label for="details">About this spot</label>
            <textarea name="spot[details]" id="details" cols="30" rows="10"><%= spot.details %></textarea>
        </div>
        <div>
            <button type="submit">Update</button>
        </div>
    </form>