<% layout('layouts/boilerplate') %>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">

                <form id="spot-form" action="/spots" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="spot[name]" aria-describedby="nameHelp"
                            autofocus>
                        <div id="nameHelp" class="form-text">Use a descriptive name</div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" id="location" name="spot[location]">
                    </div>
                    <div class="mb-3">
                        <label for="details" class="form-label">Details</label>
                        <textarea class="form-control" id="details" name="spot[details]" rows="3"></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image(s)</label>
                        <input class="form-control" type="file" name="image" id="image" multiple>
                    </div>

                    <button id="formSubmit" type="button" class="btn btn-primary">Submit</button>
                    <a href="/spots" class="btn btn-danger">Cancel</a>
                </form>
            </div>

        </div>
    </div>

    <script src="/javascript/spotForm.js"></script>