<% layout('layouts/boilerplate') %>

    <h1>Add a Spot!</h1>

    <form action="/spots" method="POST">
        <div class="">
            <label for="name">Name</label>
            <input type="text" id="name" name="spot[name]">
        </div>
        <div class="">
            <label for="location">Location</label>
            <input type="text" id="location" name="spot[location]">
        </div>
        <div class="">
            <label for="details">About this spot</label>
            <textarea name="spot[details]" id="details" cols="30" rows="10"></textarea>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>